@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<ProjectV.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h2>student</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pyear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pmonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rollid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ammount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pyear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pmonth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.studentid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rollid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ammount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
